<div class="footer-wrapper">
  <footer class="footer mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 item">
          <h3>Explore</h3>
          <ul class="list-unstyled">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/events">Events</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <h3>About Us</h3>
          <ul class="list-unstyled">
            <li><a routerLink="/about">Company</a></li>
            <li><a routerLink="/team">Team</a></li>
            <li><a routerLink="/careers">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <h3>Contact</h3>
          <ul class="list-unstyled">
            <li><a routerLink="/support">Support</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <h3>Connect</h3>
          <!-- Material-UI Icons -->
          <a href="#" class="social-icon"><i class="material-icons">facebook</i></a>  
          <a href="#" class="social-icon"><i class="material-icons">email</i></a>
          <a href="#" class="social-icon"><i class="material-icons">twitter</i></a>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 item text">
          <h3>About Our Company</h3>
          <p>We are Invincible Group Of Companies, dedicated to providing innovative solutions in various industries.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            &copy; 2023 Invincible Group of Companies. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
