<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <div class="mt-3 mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Username"
      ngModel
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Password"
      ngModel
    />
  </div>

  <button class="btn btn-primary mb-4" type="submit">Register</button>
</form>
